@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-gradient{
  //background: -webkit-linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(rgb(220 38 38 / var(--tw-text-opacity)), rgb(21 94 117 / var(--tw-text-opacity)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave-bg{
  //background-image: url(./assets/agua-azul2.png);
  background-image: url(./assets/wavesOpacity.svg);
  background-size:cover;
  background-position: 50% 70% ;
  
}
.stacked-waves-bg{
  background-image: url(./assets/stacked-waves.svg);
  background-size:cover;
}
@layer components{
.about-icon{
  @apply sm:w-8 h-8 my-6 md:w-10 h-10 lg:w-12 h-12 text-cyan-800 
}
.about-icon-title{
  @apply text-xl text-cyan-700 font-semibold
}
.about-icon-text{
  @apply text-lg mt-5 text-gray-500
}
.about-icon-container{
  @apply w-1/4 flex flex-col justify-center items-center
}
.page-heading-icon{
  @apply md:w-8 h-8 text-gray-600
}
.contact-col{
  @apply flex justify-between md:py-4 md:px-3 rounded drop-shadow-lg my-2 flex-wrap sm:py-1 sm:px-1 
}
.contact-col-title{
  @apply md:text-lg sm:text-base font-Poppins font-medium 
}
.contact-btn{
  @apply py-4 px-8 rounded-xl drop-shadow-md cursor-pointer bg-cyan-800 text-gray-100 my-10 hover:bg-cyan-600 hover:scale-105 hover:drop-shadow-xl
}
.contact-section-heading{
  @apply  text-xl  text-gray-600 font-semibold my-10
}
.courses-filter-btn{
 @apply bg-cyan-600 hover:bg-cyan-700 text-gray-100 font-bold py-2 px-4 rounded-full 
}
.active-nav{
  @apply border-b-2 border-cyan-500 text-cyan-500 font-medium py-1
}
}
.active-btn{
  @apply bg-red-500 text-gray-100 font-bold py-2 px-4 rounded-full
}
.loader{
  animation: loader infinite 0.3s alternate;
}
@keyframes loader {
    100% {
      transform: translateY(-30px);
    }
  }


