@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-gradient{
  //background: -webkit-linear-gradient(#eee, #333);
  background: -webkit-linear-gradient(rgb(220 38 38 / var(--tw-text-opacity)), rgb(21 94 117 / var(--tw-text-opacity)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wave-bg{
  
  background-image: url(./assets/wavesOpacity.svg);
  background-size:cover;
  background-position: 50% 70% ;
  
}
.wave-bg-blue{
  
  background-image: url(./assets/wavesOpacity-blue.svg);
  background-size:cover;
  background-position: 50% 70% ;
  
}
.wave-bg-footer{
  background-image: url(./assets/wave-bg.svg);
  background-size:cover;
  background-position: 50% 15% ;
  
}

.sea-bg{
  background-image: url(./assets/sea-bg-2.svg);
  background-size:cover;
  background-position: center;
}
.nav-trans{
  transition: background ease-in 200ms ;
}

@layer components{
.about-icon{
  @apply sm:w-8 sm:h-8 my-6 md:w-10 md:h-10 lg:w-12 lg:h-12 text-cyan-800 
}
.about-icon-title{
  @apply text-xl text-cyan-700 font-semibold
}
.about-icon-text{
  @apply text-lg mt-5 text-gray-500
}
.about-icon-container{
  @apply w-1/4 flex flex-col justify-center items-center
}
.page-heading-icon{
  @apply md:w-8 h-8 text-gray-600
}
.contact-col{
  @apply flex justify-between md:py-4 md:px-3 rounded drop-shadow-lg my-2 flex-wrap sm:py-1 sm:px-1 
}
.contact-col-title{
  @apply md:text-lg sm:text-base font-Poppins font-medium 
}
.contact-btn{
  @apply py-4 px-4 rounded-full  cursor-pointer  my-10 hover:scale-110 drop-shadow-xl
}
.contact-section-heading{
  @apply  text-xl  text-gray-600 font-semibold my-12
}
.courses-filter-btn{
 @apply bg-cyan-600 hover:bg-cyan-700 text-gray-100 font-bold py-2 px-4 rounded-full 
}
.active-nav{
  @apply border-b-2 border-black text-black  py-1 font-bold
}
.active-btn{
  @apply bg-red-500 text-gray-100 font-bold py-2 px-4 rounded-full
}
.nav-slide{ 
  @apply  bg-cyan-800  drop-shadow-xl 
}
}
.course-info-btn:hover{
  cursor: pointer;
}


